# Node.js / NPM
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock

# Configurações de IDEs e Editores
# VS Code
.vscode/
*.code-workspace

# IntelliJ / JetBrains
.idea/
*.iml
*.iws

# Eclipse
.project
.classpath
.settings/

# Sistema Operacional
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store
.AppleDouble
.LSOverride
.Trashes
._*

# Linux
*~
.directory
.fuse_hidden*
.Trash-*

# Logs e Arquivos temporários
*.log
*.tmp
*.swp
*.zip
*.tar
*.gz

# Pastas de Build e Compilação
dist/
build/
out/
.cache/
.turbo/

/release-assets/